
main{
    width: 1024px;
    min-height: 100vh;
    margin: auto;
    border: 2px solid  ;
    padding: 10px;
}
.user{
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
}
.userimage{
    width: 191px;
    display: flex;
    justify-content: center;
    background-image: url(images\ \(4\).jpg);
    height: 191px;
    border-radius: 50%;
    background-position: center;
    filter: drop-shadow(100px);
}

input{
    display: flex;
    width: 30vh;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
}
#int{
    display: flex;
    gap: 1.5vh;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 2vh;
    margin: auto;
}
#grid-pic{
    background-color: black;
    width: 100%;
    height: 100%;
}
.col-span{
    grid-row: span 3 / span 3;
}